.book-card { 
    border: 1px solid #ccc; padding: 10px; margin: 10px 0; 
}

.book-title { 
    font-weight: bold; font-size: 1.2em; 
}

.controls { 
    margin: 20px 0; 
}

#book-like {
background-color: white;
color: black;
border: 1px solid gray;
padding: 10px 20px;
cursor: pointer;
}

#book-like.liked {
background-color: crimson;
color: white;
border: 1px solid darkred;
}